<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="test reports related tests">
<test name="test reports">
<groups>
<run>
    <include name="smoke" />
    <exclude name="stress"/>
</run>
</groups>
<classes>
<class name="TestManagerTestNG" />
<class name="TestNew" />
<class name="TestReports" />
</classes>


        </test>
        </suite>